@use '../global/setting' as *; 

.js-fadeIn {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .4s ease-out, transform .4s ease-out;
}

.js-fadeIn.u-fadeIn {
  opacity: 1;
  transform: translateY(0px);
}