<header class="l-header p-header">
  <div class="l-inner p-header__inner">
    <h1 class="p-header__title">TOP</h1>
    <nav class="p-headerNav">
      <ul class="p-headerNav_list">
        <li class="p-headerNav__items">
          <a href="#accordion" class="p-headerNav__link">accordion</a>
        </li>
        <li class="p-headerNav__items">
          <a href="#prologue" class="p-headerNav__link">prologue</a>
        </li>
        <li class="p-headerNav__items">
          <a href="#cards" class="p-headerNav__link">cards</a>
        </li>
        <li class="p-headerNav__items">
          <a href="#news" class="p-headerNav__link">news</a>
        </li>
        <li class="p-headerNav__items">
          <a href="/about#sec04" class="p-headerNav__link">About Sec04</a>
        </li>
      </ul>
    </nav>
    <button id="js-hamburger" type="button" class="c-hamburger" aria-controls="navigation" aria-expanded="false">
      <span class="c-hamburger__line"></span>
    </button>
  </div>
</header>
