<div class="l-spMenu js-spNav" id="navigation" aria-hidden="true">
  <nav class="p-spNav">
    <ul class="p-spNav__list">
      <li class="p-spNav__listItems">
        <a href="/" class="p-spNav__link">Top</a>
      </li>
      <li class="p-spNav__listItems">
        <a href="/about" class="p-spNav__link">ABOUT</a>
      </li>
    </ul>
    <!-- <div id="js-navTrap" tabindex="0"></div> -->
  </nav>
</div>
