<header class="l-header p-header">
  <div class="l-inner p-header__inner">
    <h1 class="p-header__title">TOP</h1>
    <nav class="p-header__nav">
      <ul class="p-headerNav_list">
        <li class="p-headerNav__items">
          <a href="#sec02" class="p-headerNav__link">sec02</a>
        </li>
        <li class="p-headerNav__items">
          <a href="#sec03" class="p-headerNav__link">sec03</a>
        </li>
        <li class="p-headerNav__items">
          <a href="#sec04" class="p-headerNav__link">sec04</a>
        </li>
        <li class="p-headerNav__items">
          <a href="/about#sec04" class="p-headerNav__link">About Sec04</a>
        </li>
      </ul>
    </nav>
    <div class="l-hamburgerWrap">
      <button id="js-hamburger" type="button" class="c-hamburger" aria-controls="navigation" aria-expanded="false">
        <span class="c-hamburger__line"></span>
        <span class="c-hamburger__text"></span>
      </button>
    </div>
  </div>
</header>
