<header class="l-header">
  <div class="l-inner p-header__inner">
    <h1 class="p-header__title">TOP</h1>
    <nav class="p-header__nav">
      <ul class="c-headerNav_list">
        <li class="c-headerNav__items">
          <a href="#sec02" class="c-headerNav__link">Section02</a>
        </li>
        <li class="c-headerNav__items">
          <a href="#sec03" class="c-headerNav__link">Section03</a>
        </li>
        <li class="c-headerNav__items">
          <a href="#sec04" class="c-headerNav__link">Section04</a>
        </li>
        <li class="c-headerNav__items">
          <a href="/about#sec04" class="c-headerNav__link">About Section04</a>
        </li>
      </ul>
    </nav>
  </div>
</header>