.c-hamburger {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	margin-left: auto;
	z-index: 10;
}

.c-hamburger__line {
	display: block;
	height: 2px;
	position: absolute;
	top: 23px;
	left: 50%;
	transform: translateX(-50%);
	width: 24px;
	background-color: #172e59;
	transition: 0.4s;
}
.c-hamburger__line:before,
.c-hamburger__line:after {
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	background-color: #172e59;
	transition: inherit;
}
.c-hamburger__line:before {
	top: -6px;
}
.c-hamburger__line:after {
	top: 6px;
}
.c-hamburger__text {
	position: absolute;
	bottom: 8px;
	left: 50%;
	width: 100%;
  text-align: center;
	transform: translateX(-50%);
}
.c-hamburger__text::before {
	content: "メニュー";
	text-align: center;
	color: #172e59;
	font-size: 10px;
	font-weight: 900;
}

.c-hamburger.is-active{
	.c-hamburger__line {
		background-color: transparent;
	}
	.c-hamburger__line::before {
		top: 0;
		transform: rotate(45deg);
	}
	.c-hamburger__line::after {
		top: 0;
		transform: rotate(-45deg);
	}

	.c-hamburger__text::before {
		content: "閉じる";
	}
}